<div class="container">


<div>
  <h1>Pedidos Pendientes</h1>
<div class="btn-container">
  <button class="btn btn-primary mr-1" (click)="setMarca()">Marca</button>
  <button class="btn btn-primary mr-1" (click)="setMarca()">Artículo</button>
  <button class="btn btn-primary mr-1" (click)="setMarca()">Categoria</button>
  <button class="btn btn-primary mr-1" (click)="setMarca()">Vendedor</button>
  <button class="btn btn-primary mr-1" (click)="setMarca()">Cliente</button>
  <button class="btn btn-primary mr-1" (click)="setMarca()">Pedido</button>
</div>
<table id="services">
  <tr>
    <th># Pedido</th>
    <th>Vendedor</th>
    <th>Cliente</th> 
    <th>Artículo</th> 
    <th>Marca</th>
    <th>Categoria</th>
    <th>Cantidad</th>
  </tr>
  <tr *ngFor="let item of items">
    <td>{{item.docnum}}</td>
    <td>{{item.slpcode + ' ' + item.slpname}}</td>
    <td>{{item.cardcode + ' ' + item.cardname}}</td>
    <td>{{item.itemcode}}</td>
    <td>{{item.firmcode + ' ' + item.firmname}}</td>
    <td>{{item.categoriacode + ' ' + item.categorianame}}</td>
    <td>{{item.quantity}}</td>
  </tr>
</table>
</div>
</div>
